#chat-wrapper, #nick-wrapper, .chlistwrapper {
	background-color: #000000;
}

ul.nicklist li {
	border-color: #111111;
}

.ownNick {
	color: #555CCC;
}

body {
	color: #E6E6E6;
	background: #555555 !important;
}

input[type="text"], input[type="text"], input[type="password"] {
	background: #000000;
	border-color: #2a2a2a;
	color: #dddddd;
}

span.yournick {
	color: #eeeeee;
}

span.part {
	color: #E28947;
}

span.hilight, span.hilight span.nick {
	color: #A9AEFF;
}

span.mode {
	color: #7BDFE8;
}

span.nick {
	color: #9E9E9E;
}

ul.nicklist li:hover, ul.nicklist li.activeNick, .nickoptsButton:hover {
	background-color: #2D3A4A;
}

ul.options li, ul.suboptions li {
	background-color: #5C738E;
	color: #BED8FB;
}

#size-dialog {
	background-color: #09294E;
}

#symbol-dialog a, #size-dialog a, .statusbutton {
	background-color: rgba(51, 51, 51, 0.8) !important;
}

#color-dialog, #not_connected_div, #options-dialog, #reconnect_div, #size-dialog {
	background-color: #09294E;
}

#color-dialog {
	background: url("/styles/img/kolory.png") no-repeat scroll right top #09294E !important;
}

#symbol-dialog {
	background: url("/styles/img/emotikony.png") no-repeat scroll right top #09294E !important;
}

#about-dialog {
	background: url("/styles/img/info.png") no-repeat scroll right top #09294E !important;
}

#options-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #09294E !important;
}

#about-dialog p {
	background-color: rgba(6, 6, 6, 0.2);
}

a {
	color: #B1CCEF;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
	color: #fff;
}

.symbols, .insertColor, .completion, .submit {
	background-color: #B3B1B1;
}

span.notice, span.notice-nick {
	color: #BD51B8;
}

span.kick {
	color: #E25C5C;
}

ul.options, ul.suboptions {
	background-color: #1C4679;
}

b.admin {
	color: #F97676;
}

.whois-dialog p span.info {
	color: #ACC1DC;
}

.symbol-text a:hover, .size-text a:hover {
	background-color: #0C509E !important;
}

.image_link {
	background-color: #3F4B5D;
}

.channelOperActionsButton:hover, .channelAdminActive ul, .channelAdminActive {
	background-color: #2D3A4A;
}

.channelAdmin {
	border-color: #7492B6;
}
/*
.channelAdmin:hover, .channelAdminActive {
	border: 1px solid #7492B6  !important;
}*/

.channelAdmin li, #nickOptions li {
	background-color: #5C738E;
	color: #BED8FB;
	border-color: #111111;
}

.channelAdmin li:hover, #nickOptions li:hover {
	background-color: #2D3A4A;
}

.chstats-button:hover, .nickoptsButton:hover {
    background-color: #2D3A4A;
}

.ui-widget-content {
	background: #042377 !important;
	color: inherit;
	border-color: #192348 !important;
}

.ui-widget-header {
	border-color: #627592;
	background: #293D77;
	color: #9CB1FF;
}

.error-dialog {
	background: url("/styles/img/errorbg.png") no-repeat scroll right top #521818 !important;
	color: #FFE9E9 !important;
}

.alert-dialog {
	background: url("/styles/img/warningbg.png") no-repeat scroll right top #521818 !important;
	color: #FFE9E9 !important;
}

.whois-dialog, .warning-dialog, .confirm-dialog {
	background: url("/styles/img/info.png") no-repeat scroll right top #031B38 !important;
}

.notice-dialog {
	background: url("/styles/img/notice.png") no-repeat scroll right top #031B38 !important;
}

.admin-dialog, .ignore-dialog, .services-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #09294E !important;
}

.notice-dialog-memoserv {
	background-color: #292912 !important;
}

span.data {
	color: #DAF6FF;
}

.ui-widget-content a {
	color: #F9FFA3;
}

.ui-dialog-buttonpane {
	background: #0A1929;
}

.ui-button {
	background: #030382;
	color: #BFBFBF;
}

.ui-widget-overlay {
	background: #0C0C0C;
}

.ui-button:hover, .ui-button:focus {
	background: #7274BF;
}

.error-dialog-spec .ui-widget-header, .alert-dialog-spec .ui-widget-header {
	border-color: #943232;
	background: #3E1212;
	color: #EC8C8C;
}

.error-dialog-spec .ui-button, .alert-dialog-spec .ui-button {
	background: #6B1515;
}

.error-dialog-spec .ui-button:hover, .error-dialog-spec  .ui-button:focus, .alert-dialog-spec .ui-button:hover, .alert-dialog-spec .ui-button:focus {
	background: #CE4A4A;
}

.connect-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #062B65 !important;
}

.chstatswrapper, #nickopts-wrapper {
    background-color: #555555;
}

#chlist td {
    background-color: #23236B;
}

#chlist-body td.chname:hover, .chlist_button:hover, #chlist-button:hover {
    background-color: #223963;
}

.channelOperActions, .channelOptions, #nickOptions {
    background-color: #2F2F2F;
}

.alert-dialog-spec .ui-dialog-buttonpane {
    background-color: #2D0101 !important;
}

