@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

a:active {
  outline: none;
}

body {
	font-family: verdana,arial,tahoma,sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
	width: 100%;
	background: url('/styles/img/bg.png') repeat-x scroll 0 0 #E4E4E4;
	overflow: hidden;

/*	-ms-word-break: break-all;
	word-break: break-all;
	overflow-wrap: break-word;
	word-break: break-word;*/

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

input, button, submit {
	font-size: 1em;
	font-family: inherit;
}

@font-face {
	font-family: 'Symbola';
	src: url('/styles/Symbola.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.symbolFont {
	font-family: verdana,arial,tahoma,Symbola,sans-serif;
}

#not_connected_wrapper, #background-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(221, 221, 221, 0.5);
	width: 100%;
	height: 100%;
	z-index: 9;
}

#background-wrapper {
	display: none;
}

#not_connected_div {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 7px #505050;
	-webkit-box-shadow: 2px 2px 7px #505050;
	box-shadow: 2px 2px 7px #505050;
	background: url("/styles/img/techbg.png") no-repeat scroll right top #E8E8E8;
	border: 1px solid #757575;
	left: 30%;
	margin-left: -8em;
	margin-top: -50px;
	padding: 14px;
	position: fixed;
	top: 50%;
	width: 36em;
	z-index: 10;
}

#not_connected_div {
	width: 28.5em !important;
}

#top_menu {
	background: #272727 url("/styles/img/menu.png") repeat-x center;
	background-size: auto 100%;
	height: 2.9em;
	left: 0;
	min-height: 30px;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 100%;
}
	
#top_menu ul {
	height: 30px;
	list-style: none outside none;
	margin-left: 2em;
	margin-right: 2em;
	width: 600%;
}
	
#top_menu ul li {
	display: block;
	float: left;
	margin-right: 12px;
	padding: 7px;
}
	
#top_menu ul li a {
	color: #CECECE;
	text-decoration: none;
}
	
#top_menu ul li:focus a, #top_menu ul li:hover a {
	color: #FFFFFF;
	text-decoration: none;
}
	
#top_menu ul li.newmsg {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #949494 !important;
}
	
#top_menu ul li.newmsg a {
	color: #000000 !important;
}
	
#top_menu ul li.newmsg2 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #444444;
}
	
#top_menu ul li.newmsg2 a {
	color: #FFFFFF;
}
	
#nicklist {
	bottom: 7.4em;
	position: absolute;
	right: 10px;
	top: 12em;
	width: 23%;
}
	
#chatbox {
	bottom: 5em;
	left: 0;
	position: absolute;
	top: 6.7em;
	width: 77%;
}
	
#chat-wrapper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #9A9A9A;
	height: 100%;
	margin: 10px auto;
	overflow: auto;
	width: 97%;
	word-wrap: break-word;
}
	
#nick-wrapper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #9A9A9A;
	height: 100%;
	margin: 10px auto;
	overflow: auto;
	width: 98%;
}
	
ul.nicklist {
	list-style: none outside none;
	margin-left: 10px;
}
	
ul.nicklist li {
	border: 1px solid #FFFFFF;
}
	
ul.nicklist li:hover, ul.nicklist li.activeNick {
	background: none repeat scroll 0 0 #E6EFFA;
	border: 1px solid #7492B6;
	cursor: pointer;
}
	
#input-wrapper {
	margin: 0 auto;
	position: relative;
	width: 99%;
	z-index: 8;
}
	
input.input {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #9A9A9A;
	color: #8A8A8A;
	padding: 3px;
	width: 100%;
}
	
input.input:focus {
	color: #000000;
}
	
input.submit {
	background: none repeat scroll 0 0 #DADADA;;
}

button.textFormat {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #9A9A9A;
	padding: 3px;
	margin: 6px;
	height: 2.1em;
	width: 9em;
	cursor: pointer;
}

button.textFormat:hover {
	background-color: #d7e4f3;
}

input.submit:hover, input.submit:focus {
	background: none repeat scroll 0 0 #EAEAEA;
	cursor: pointer;
}
	
span.time {
	color: #848484;
	font-family: Monospace,courier;
}
	
span.motd {
	color: #848484;
	font-family: Monospace,courier;
	white-space: pre;
}

span.sinfo {
	color: #848484;
}

span.nick {
	color: #808080;
}
	
span.yournick {
	color: #000000;
}
	
span.hilight, span.hilight span.nick {
	color: #1F29D3;
	font-weight: bold;
}

.ownNick {
	color: #1F29D3;
}
	
span.join {
	color: #008A0B;
}
	
span.part {
	color: #713000;
}
	
span.kick {
	color: #AA0000;
}
	
span.mode {
	color: #007D89;
}

span.netsplit {
	color: #aa1111;
}

span.netjoin {
	color: #11aa11;
}

span.join a {
	color: #000055;
	cursor: pointer;
	text-decoration: underline;
}

span.modevictim, span.modeinfo {
	font-weight: bolder;
}
	
#chat-wrapper br {
	margin-top: 2px;
}
	
#info {
	height: 3.7em;
	left: 0;
	margin-left: 25px;
	overflow: hidden;
	position: absolute;
	top: 3.2em;
	width: 82%;
	overflow-y: auto;
}
	
#info h1 {
	display: inline;
	font-size: 1.4em;
}
	
#info h2 {
	display: inline;
	font-size: 1.1em;
	font-weight: normal;
	padding: 5px;
	margin-left: 10px;
}

#info > span {
	display: block;
	padding: 4px;
	min-height: 3em;
}
	
#info > span:hover, #info > span:focus {
	border-radius: 8px;
	border-color: #FFFFFF #CECECE #CECECE #FFFFFF;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	padding: 3px;
}
	
#top_menu ul li:hover, #top_menu ul li:focus {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #515459;
	border: 1px solid #303033;
	color: #FFFFFF;
	padding: 6px;
}
	
#inputbox {
	bottom: 4px;
	height: 2.5em;
	left: 0;
	position: absolute;
	width: 100%;
}

#leftarrow, #rightarrow {
	height: 32px;
	position: absolute;
	top: 4px;
	width: 32px;
}

#leftarrow input, #rightarrow input {
	height: 1.6em;
	margin-top: 4px;
}
	
#leftarrow {
	left: .3em;
}
	
#rightarrow {
	right: .5em;
}
	
#tab-wrapper {
	height: 80%;
	margin: 0 auto;
	margin-top: .4em;
	overflow: hidden;
}
	
input.top {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #CECECE;
	text-decoration: none;
}
	
input.top:focus, input.top:hover {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #444444;
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
}
	
#chat-wrapper br {
	margin-top: 2px;
}
	
span.yournickname {
	padding: 5px;
}
	
#topicEdit {
	width: 550px;
	height: 5em;
}

.whois-dialog, .warning-dialog, .confirm-dialog, .names-dialog {
	background: url("/styles/img/info.png") no-repeat scroll right top #D7E4F3 !important;
}

.names-dialog td, .names-dialog th {
	border: 1px solid gray;
}

.notice-dialog {
	background: url("/styles/img/notice.png") no-repeat scroll right top #D7E4F3 !important;
}

.notice-dialog-memoserv {
	background-color: #F3F3D7 !important;
}

#color-dialog {
	background: url("/styles/img/kolory.png") no-repeat scroll right top #D7E4F3;
	display: none;
}

#symbol-dialog {
	display: none;
}

#symbol-dialog, .emoticons-dialog {
	background: url("/styles/img/emotikony.png") no-repeat scroll right top #D7E4F3 !important;
}

#symbol-dialog .dfooter {
	clear: left;
}

#size-dialog {
	background: #D7E4F3;
	display: none;
}

#size-dialog p, .whois-dialog p, #color-dialog p, #symbol-dialog p {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	margin-top: 2px;
	padding: 1px;
}
	
#color-dialog h3, #symbol-dialog h3 {
	font-size: 1.3em;
	padding-bottom: 10px;
	padding-top: 10px;
}
	
div.size-close {
	color: #466999;
	display: table;
	float: right;
	font-size: 1.4em;
}

.colorButton {
	display: inline-block;
	border: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
	
b.admin {
	color: #AA0000;
}
	
ul.options, ul.suboptions {
	background: none repeat scroll 0 0 #E6EFFA;
	display: none;
	list-style: none outside none;
	padding: 3px;
}
	
ul.nicklist li:hover ul.options {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	padding: 3px;
}
	
ul.options li, ul.suboptions li {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
	margin-top: 2px;
	padding: 1px;
	color: #556A83;
	font-size: .9em;
}
	
ul.options li:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
	cursor: pointer;
}
	
.statuswindow {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 7px #505050;
	-webkit-box-shadow: 2px 2px 7px #505050;
	box-shadow: 2px 2px 7px #505050;
	background: url("/styles/img/techbg.png") no-repeat scroll right top #E8E8E8;
	border: 1px solid #757575;
	display: none;
	left: 50%;
	margin-left: -15em;
	margin-top: -50px;
	padding: 14px;
	position: fixed;
	top: 30%;
	width: 40em;
	z-index: 10;
	max-width: 70%;
}
	
.statuswindow div.status-close {
	color: #525252;
	display: table;
	float: right;
	font-size: 1.4em;
}
	
.statuswindow div.status-close:hover {
	color: #BBBBBB;
	cursor: pointer;
}

.admin-dialog, .ignore-dialog, .services-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #E8E8E8 !important;
}

.statuswindow td, .list-dialog td, .admin-dialog td, .ignore-dialog td {
	border: 1px solid #aab;
	padding: 2px 4px 2px 4px;
}

.ignore-dialog th {
	padding-left: 6px;
	padding-right: 6px;
}

.admin-dialog td input[type="text"] {
	width: 5em;
}

.statuswindow td.button, .list-dialog td.button {
	border: none;
}

.statuswindow button, .list-dialog button {
	padding: 2px;
}
	
.statusbutton {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #858585;
	font-size: .9em;
	margin: 5px auto 0;
	padding: 4px;
	text-align: center;
	width: 200px;
}
	
.statusbutton:hover {
	background: none repeat scroll 0 0 #EBEBEB;
	border: 1px solid #5E5E5E;
	cursor: pointer;
}

.error-dialog {
	background: url("/styles/img/errorbg.png") no-repeat scroll right top #FFC7C7 !important;
}

.alert-dialog {
	background: url("/styles/img/warningbg.png") no-repeat scroll right top #FFC7C7 !important;
}

.error-dialog-spec .ui-dialog-buttonpane, .alert-dialog-spec .ui-dialog-buttonpane, .no-access .ui-dialog-buttonpane {
	background-color: #FBE7E7;
}

.connect-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #C1D6F7 !important;
}
	
.notify-text p.whois, .whois-dialog p.whois {
	display: table;
	width: 100%;
}
	
.notify-text p span.info, .whois-dialog p span.info {
	color: #6D84A0;
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 7em;
}
	
.notify-text p span.data, .whois-dialog p span.data {
	display: block;
	float: left;
}
	
.kickinput {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #757575;
	font-size: 1.1em;
	height: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 2px;
	width: 100%;
}
	
span.notice, span.notice-nick {
	color: #661162;
}
	
#nicklist-hide-button {
	background: url("/styles/img/nicklistbutton.png") no-repeat scroll 0 0 transparent;
	font-size: 50px;
	height: 79px;
	left: 0;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 20px;
}
	
#nicklist-hide-button:hover {
	cursor: pointer;
}
	
#nicklist-closed {
	display: none;
	height: 93%;
	position: absolute;
	right: 0;
	top: 6%;
	width: 3%;
}

div.close {
	background: url("/styles/img/delete.png") repeat scroll 0 0 transparent;
	background-size: 1.1em 2.2em;
	float: right;
	height: 1.1em;
	margin: 0 0 0 5px;
	padding: 0;
	width: 1.1em;
}
	
div.close:focus, div.close:hover {
	background-position: center bottom;
}
	
input[type="text"], input[type="password"] {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B2B2B2;
	background: #F5F5F5;
	padding: 2px;
	border-radius: 3px;
	color: #666;
}
	
input[type="text"]:hover, input[type="password"]:hover, input[type="text"]:focus, input[type="password"]:focus {
	color: #000;
}

input[type="button"], input[type="submit"] {
	background: url('/styles/img/gg.png') repeat-x;
	background-size: auto 100%;
	border: 1px solid #B2B2B2;
	padding: 5px;
	border-radius: 5px;
}

input[type="button"]:hover, input[type="submit"]:hover {
	cursor: pointer;
}

table.nostyle {
	width: 100%;
}
	
#options-box {
	position: absolute;
	top: 3.6em;
	right: 10px;
	height: 18px;
	z-index: 100;
}

input.symbols {
	font-size: 1em;
	padding-right: 1px !important;
	padding-left: 2px !important;
	padding-top: 3px !important;
	
}

.symbols, .insertColor, .completion, .submit {
	display: block;
	height: 28px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #9A9A9A;
	padding: 3px
}

.insertColor, .symbols {
	height: 20px !important;
}

.completion {
	height: 16px !important;
	padding: 4px !important;
}

a.charSelect, #size-dialog a {
	display: block;
	float: left;
	margin: 3px;
	padding: 3px;
	border: 1px solid  #B2B2B2;
	padding: 5px;
	border-radius: 5px;
	width: 1.3em;
	cursor: pointer;
	text-align: center;
	background-color: rgba(245, 245, 245, 0.8);
	font-size: 1.1em;
	height: 1.2em;
}

#symbol-dialog h3, #size-dialog h3 {
	padding-top: 10px;
	clear: left;
}

a.charSelect:hover, #size-dialog a:hover {
	background-color: #d7e4f3;
}

.image_link {
	cursor: pointer;
	display: block;
	padding: 2px;
	margin: 2px;
	padding-left: 30px;
	background-color: #d0d0d0;
}

.image_link:hover {
	background-color: #d7e4f3;
}

#options-box > a {
	width: 1.2em;
	height: 1.2em;
	background-size: 1.2em 2.4em;
	display: block;
	float: left;
}

#button-quit {
	background: url('/styles/img/g_zamknij.png') no-repeat bottom;
}

#button-about {
	background: url('/styles/img/g_about.png') no-repeat bottom;
}

#button-options {
	background: url('/styles/img/g_zebatka.png') no-repeat bottom;
}

#button-tsize {
	background: url('/styles/img/tsize.png') no-repeat bottom;
}

#button-about:hover, #button-about:focus, #button-options:hover, #button-options:focus, #button-quit:hover, #button-quit:focus, #button-tsize:hover, #button-tsize:focus {
	background-position: top;
}

#about-dialog {
	display: none;
	background: url("/styles/img/info.png") no-repeat scroll right top #D7E4F3;
}

#about_div p, #about-dialog p {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
	margin-top: 2px;
	padding: 1px;
}
	
#about_div h3, #about-dialog h3 {
	font-size: 1.3em;
	padding-bottom: 10px;
}

.activeWindow {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background: none repeat scroll 0 0 #515459;
	border: 1px solid #303033;
	color: #fff !important;
	font-weight: bold !important;
	padding: 6px !important;
}

span.uiclick {
	text-decoration: italic;
}

span.uiclick:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.table  {
	display:table;
}

form.tr, div.tr {
	display:table-row;
}

form.trgr {
	display: table-row-group;
}

span.td, span.td_right {
	display:table-cell;
	margin: 4px;
	padding: 0px 4px 0px 4px;
}

span.td_right {
	text-align: right;
}

.chrank, .chavatar {
	width: 1.1em;
	height: 1.1em;
	display: block;
	object-fit: contain;
}

#options-dialog input[type="text"]  {
	width: 3em;
	margin: 0;
	margin-right: -.6em;
	text-align: right;
}

.optionsCheckBox {
	text-align: right;
}
/*
.channelAdmin {
	border: 1px #88a;
	text-align: center;
	font-size: .8em;
	margin-bottom: 3px;
	border: 1px solid #D5D5DC;
	margin-left: 10px;
}*/

.channelAdmin li, #nickOptions li {
	list-style: none outside none;
	margin-top: 3px;
	border: 1px solid #FFFFFF;
	background-color: #E6EFFA;
	margin-left: .4em;
	margin-right: .4em;
	margin-bottom: 4px;
	color: #556A83;
	padding-left: 1em;
    padding-right: 1em;
}

.channelAdminActive {
	background-color: #E6EFFA;
	border-color: #7492B6;
}

ul.channelOperActions, ul.channelOptions, #nickOptions {
    position: absolute;
    z-index: 90;
    right: 1em;
}

.channelAdmin button {
	padding: 2px;
	margin-top: .4em;
}

.beIListContents {
	overflow-y: auto;
	max-height: 30em;
}

.channelOperActionsButton, .channelAdmin li {
	padding-top: 2px;
	padding-bottom: 2px;
}

.channelOperActionsButton:hover, .channelAdmin li:hover, .channelAdminActive ul, #nickOptions li:hover {
	background-color: #e6effa;
	border-color: #7492B6;
}

.channelOperActionsButton:hover, .channelAdmin li:hover, #nickOptions li:hover {
	cursor: pointer;
}

.channelAdmin li:hover, #nickOptions li:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.channelOperActions, .channelOptions, #nickOptions {
	display: none;
	background-color: #eee;
}

.notice-text button, .error-text button {
	padding: 4px;
}

/* JQUERY DIALOG */

.ui-widget {
	font-family: inherit;
}

#options-dialog, #query-umodes-dialog {
	display: none;
	background: url("/styles/img/techbg.png") no-repeat scroll right top #E8E8E8;
}

.list-dialog, .invite-dialog {
	background: url("/styles/img/techbg.png") no-repeat scroll right top #E8E8E8 !important;
}

.dialog {
	max-height: 80vh !important;
}

.ui-widget-header {
	border-color: #5A82BF;
	background: #98ABE2;
}

.ui-button {
	background: #BDCAEF;
}

.invite-dialog {
	background-color: #D7E4F3 !important;
}

.ui-widget-content {
	background: #BFD0FF;
}

.ui-dialog-buttonpane {
	margin-top: 0 !important;
	background: #ECF2F9;
}

.no-close .ui-dialog-titlebar-close, .no-access .ui-dialog-titlebar-close {
	display: none;
}

.no-access ul {
	padding-left: 2em;
	text-align: justify;
}

.ui-widget-overlay {
   background: #dddddd;
   opacity: .65;
   filter: Alpha(Opacity=65);
}

.error-dialog-spec .ui-button, .alert-dialog-spec .ui-button, .no-access .ui-button {
	background: #EFBDBD;
}

.error-dialog-spec .ui-widget-header, .alert-dialog-spec .ui-widget-header, .no-access .ui-widget-header {
	border-color: #B73A3A;
	background: #D89191;
}

.nicklistRefresh {
	background: url('/styles/img/refresh.png');
    width: 20px;
    height: 20px;
    position: relative;
    float: right;
   	cursor: pointer;
}

#chstats {
    position: absolute;
    right: 10px;
    top: 6.7em;
    width: 23%;
    height: 5em;
}

.chstatswrapper {
    border-radius: 4px;
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #9A9A9A;
    height: 100%;
    margin: 10px auto;
    overflow: auto;
    width: 98%;
    text-align: center;
	font-size: .9em;
}

span.chstats-text {
    display: block;
	padding-top: .2em;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 4px;
}

span.chstats-text:after {
    content: " ⮘";
}

span.chstats-text:before {
    content: "⮚ ";
}

#options-dialog td.info, #query-umodes-dialog td.info {
    padding-left: .5em;
}

#chlist {
    position: absolute;
    right: 10px;
	bottom: 5.6em;
    width: 23%;
    height: 1.4em;
}

.chlistwrapper {
    border-radius: 4px;
    background: none repeat scroll 0 0 #E4E4E4;
    border: 1px solid #9A9A9A;
    height: 100%;
    margin: 10px auto;
    overflow: auto;
    width: 98%;
    text-align: center;
    font-size: .9em;
    position: relative;
}

#chlist-button {
    display: block;
    padding-top: .2em;
    position: absolute;
    bottom: .1em;
    width: inherit;
    cursor: pointer;
}

#chlist-button:hover {
    background-color: #efefef;
}

#chlist-body {
	display: none;
    width: 90%;
    padding: .5em;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    bottom: 1.6em;
    top: 1%;
    position: absolute;
}

#chlist-body table {
    margin: auto;
}

#chlist-body td.chname {
    min-width: 8em;
    max-width: 11em;
}

#chlist td {
    background-color: #EBF6FF;
    padding: .3em;
    overflow: hidden;
}

#chlist-body td.chusers {
    width: 3em;
}

.chlist_button {
    display: inline-block;
    padding: 2px;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    margin-bottom: 8px;
}

.chlist_button:hover {
	cursor: pointer;
    background-color: #efefef;
}

#chlist-body td.chname:hover {
    background-color: #fff;
    cursor: pointer;
}

.chstats-button {
    display: block;
    padding: 2px;
    border: 1px solid #9a9a9a;
    margin: .2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 3px;
}

.chstats-button:hover {
    background-color: #E6EFFA;
    cursor: pointer;
}

.channelOptions {
    font-size: .8em;
}

.channelOptions div {
    display: block;
    border: 1px solid #00e;
    border-radius: 3px;
    margin: .5em;
    padding: .5em;
}

div.alert-dialog {
    padding-right: 50px !important;
}

#nickopts {
    position: absolute;
    right: 10px;
	bottom: 3.9em;
    width: 23%;
    height: 1.3em;
}

.nickoptsButton {
    border-radius: 4px;
    border: 1px solid #9A9A9A;
    height: 100%;
    margin: 10px auto;
    overflow: auto;
    width: 98%;
    text-align: center;
    position: relative;
    padding-top: .1em;
    padding-bottom: .2em;
}

.nickoptsButton:hover {
    background-color: #efefef;
    cursor: pointer;
}

#nickopts-wrapper {
    background: none repeat scroll 0 0 #E4E4E4;
	font-size: .9em;
}

#nickOptions {
	position: absolute;
    bottom: .9em;
    min-width: 12em;
    text-align: center;
    font-size: .8em;
}

span.data img {
    margin-top: -20px;
    position: relative;
    top: 10px;
}

/* avatar things */
.messageMeta {
    float: left;
    margin-right: 1em;
    min-width: 50px;
    min-height: 50px;
    position: relative;
/*	overflow: auto;
	margin-bottom: -50px;*/
}
/*
.messageHeader, .msgText {
	position: relative;
	left: 50px;
}
*/
.messageMeta img {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.messageDiv {
    clear: both;
    padding-bottom: .2em;
}

.msgRepeat {
	display: none;
}

.letterAvatar {
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
    background-color: black;
    display:  inline-block;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin: 4px;
    color: white;
}

.letterAvatar span {
    font-size: 25px;
    line-height: 20px;
    margin: 11px -4px;
    position: absolute;
    display: block;
    width:  100%;
    text-align: center;
    text-transform: uppercase;
}

.messageHeader .time {
	display: none;
}

#avatar-dialog {
	background: url("/styles/img/kolory.png") no-repeat scroll right top #D7E4F3;
	display: none;
}

#current-avatar-image {
	width: 100px;
	height: 100px;
    object-fit: contain;

}

#current-letter-avatar {
	float: left;
	position: relative;
}

#submit-avatar {
	display: none;
}

#delete-avatar {
	display: none;
}

td.nickname {
	padding-left: 3px;
}

.oddMessage {
/*	background-image: linear-gradient(to right, rgba(127,127,127,0), rgba(127,127,127,0.1));*/
}

.evenMessage {
	background-image: linear-gradient(to right, rgba(127,127,127,0.2), rgba(127,127,127,0.05));
}

ul.options li.nicklistAvatar {
    border: none;
    background: inherit;
    min-height: 0px;
}

ul.options li.nicklistAvatar img {
	max-width: 100%;
}

.nicklistAvatar .letterAvatar span {
    margin-left: 1px;
}

.nicklistAvatar .letterAvatar {
    position: relative;
}

span.realNick {
	font-size: .7em;
}

#formatting {
}

#formatting-button {
	display: none;
    width: 20em;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #9A9A9A;
}

#formatting-button:hover {
    background-color: #efefef;
}

.setAvatar {
	display: none;
}

.notDelivered {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.msgDeliveryFailed {
	background: #FFC7C7;
	padding-right: 3em;
}

a.charSelect img.emoji {
    margin-top: -.38em;
    margin-left: -.31em;
}

img.emoji {
    height: 2em;
    vertical-align: middle;
}

#tab-info > span {
    font-size: .8em;
}

#tab-info {
    height: 1em;
    padding-left: 3em;
    position: absolute;
    bottom: 3.2em;
}

:root {
	--emoji-scale: 1.8;
}

.emoji-wrapper:hover {
    display: inline-block;
    transform:scale(var(--emoji-scale));
    z-index: 1000;
    position: relative;
}

