#top_menu {
	top: auto;
	bottom: 0;
}

#options-box {
	top: .8em;
}

#info {
	top: 0;
}

#chatbox, #nicklist {
	top: 3.3em;
	bottom: 7em;
}

#nicklist {
	top: 3.3em;
	bottom: 15.7em;
}

#chstats {
    bottom: 10.4em;
	top: initial;
}

#inputbox {
	bottom: 3.2em;
}

#chlist {
    bottom: 8.7em;
}

#chlist-body {
	height: 84%;
}

ul.channelOperActions {
    bottom: 1.4em;
}

#nickopts {
    bottom: 7em;
}

